body {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
}

.parent1 { 
    height: 100vh;
    width: 220px;
    display: flex;
    flex-direction: column;
    border-right: solid;
    border-right-color: rgb(219, 219, 219, 1);
    border-right-width: 1px;
    position: relative;
    /* background-color: blueviolet; */
}

.parent2 {
    /* background-color:rgb(24, 54, 205); */
    height: 100vh;
    width: 220px;
    
}

.parent3 {
    height: 100vh;
    width: 630px;
    display: flex;
    flex-direction: column;
}

/* .parent4 { 
    background-color: white;
    height: 1007px;
    width: 319px;
} */

/* .parent5 {
    background-color:white;
    height: 1007px;
    width: 392px;
} */

.child1 {
    padding: 25px 12px 30px;
}

.child2 {
    display: flex;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child3 {
    display: flex;
    margin-top: 4px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child4 {
    display: flex;
    margin-top: 4px;

}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child5 {
    display: flex;
    margin-top: 4px;

}

.reels {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child6 {
    display: flex;
    margin-top: 4px;

}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child7 {
    display: flex;
    margin-top: 4px;

}

.notifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child8 {
    display: flex;
    margin-top: 4px;

}

.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child9 {
    display: flex;
    margin-top: 4px;

}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child10 {
    display: flex;
    margin-top: 4px;

}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child10 img {
    border-radius: 50px;
}

.child11 {
    display: flex;

}

.metaAi {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child12 {
    display: flex;
    margin-top: 4px;

}

.threads {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child13 {
    display: flex;
    margin-top: 5px;

}

.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child2 p {
    margin-left: 17px;
    line-height: 20px;
}

.home {
    margin-left: 17px;
}

.child3 p {
    margin-left: 17px;
    line-height: 20px;
}

.search {
    margin-left: 17px;
}

.child4 p {
    margin-left: 17px;
    line-height: 20px;
}

.explore {
    margin-left: 17px;
}

.child5 p {
    margin-left: 17px;
    line-height: 20px;
}

.reels {
    margin-left: 17px;
}

.child6 p {
    margin-left: 17px;
    line-height: 20px;
}

.messages {
    margin-left: 17px;
}

.child7 p {
    margin-left: 17px;
    line-height: 20px;
}

.notifications {
    margin-left: 17px;
}

.child8 p {
    margin-left: 17px;
    line-height: 20px;
}

.create {
    margin-left: 17px;
}

.child9 p {
    margin-left: 17px;
    line-height: 20px;
}

.dashboard {
    margin-left: 17px;
}

.child10 p {
    margin-left: 17px;
    line-height: 20px;
}

.profile {
    margin-left: 17px;
}

.child11 p {
    margin-left: 17px;
    line-height: 20px;
}

.metaAi {
    margin-left: 17px;
}

.child12 p {
    margin-left: 17px;
    line-height: 20px;
}

.threads {
    margin-left: 17px;
}

.child13 p {
    margin-left: 17px;
    line-height: 20px;
}

.more {
    margin-left: 17px;
}

p {
    font-family: Open Sans;
    line-height: 20px;
}

.child11-13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 26px;
}

.top-nav-bar {
    display: flex;
    border-bottom: solid;
    border-bottom-color: rgb(219, 219, 219, 1);
    border-width: 1px;
}

.following {
    margin-left: 13px;
}

.following p {
    color: gray;
}

.story-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.story-item {
    display: flex;
    flex-direction: column;
}

.story-account {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-account img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.username {
    display: flex;
    justify-content: center;
}

.username p {
    font-size: 12px;
    line-height: 20px;
}

.post {
    background-color: white;
    height: 80vh;
    padding: 0 77px;
}

.post-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-icon {
    width: 30px;
    height: 30px;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dot, .minute {
    color: gray;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon img {
    border-radius: 50%;
}

.username-post, .verified-badge, .dot, .minute {
    margin-left: 5px;
}

.dot {
    display: flex;
    padding-bottom: 7px;
}

.three-dots {
    margin-left: auto;
}

.interact-section {
    display: flex;
    margin-top: 10px;
}

.message, .send {
    margin-left: 15px
}

.archive {
    margin-left: auto;
}

.post-picture img {
    border-radius: 0.5%;
}

.number-of-like {
    display: flex;
}

.like {
    margin-left: 5px;
}

.like, .number {
    line-height: 18px;
    margin-top: -12px;
    font-size: 85%;
}

.caption-section {
    display: flex;
    margin-top: -25px;
}

.name, .caption-text {
    line-height: 18px;
    font-size: 85%;
}

.caption-text {
    margin-left: 10px;
}

.comment-section {
    display: flex;
    border-bottom: solid;
    border-color: gray;
    border-width: 1px;
    padding-bottom: 20px;
}
.comment {
    line-height: 18px;
    font-size: 85%;
    margin-top: -25px;
}

.comment p {
    color: gray;
}

.emoji-interaction {
    margin-left: auto;
    margin-top: -15px;
}

.post-zone {
    display: flex;
    flex-direction: column;

}

.account-section {
    display: flex;
    flex-direction: row;
    margin-top: 25px;

}

.user-acc {
    display: flex;
    flex-direction:  column;
}

.switch {
    margin-left: 119px;
    padding-top: 10px;
}

.switch p {
    line-height: 18px;
    font-size: 80%;
    color: #0095f6;
}

.user-section {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.user-name {
    margin-top: -30px;
}

.user-name p {
    color: gray;
}

.account-picture {
    display: flex;
    padding-top: 10px;
}

.account-picture img {
    border-radius: 50%;
}

.parent4 {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 64px;

}

.user-acc p, .user-name p{
    line-height: 18px;
    font-size: 95%;
}

.info-section {
    display: flex;
    flex-direction: row;
}

.See-all {
    margin-left: 132px;
    line-break: 18px;
    font-size: 85%;
    font-weight: 600;
}

.suggested-for-you {
    color: gray;
    line-height: 18px;
    font-size: 85%;
    font-weight: 600;
}

.account-section-v2 {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}

.follow {
    color: #0095f6;
    margin-left: 110px;
    line-height: 18px;
    font-size: 80%;
    margin-top: 10px;
    font-weight: bold;
}

.third-section {
    margin-top: -40px;
}